*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #d9ed92;

  --color-sec: #52b69a;
  --color-sec-darker: #34a0a4;
  --color-sec-darkest: #27787a;
  --color-darkest: rgb(22, 24, 29);
  --color-darker: #242830;
  --color-dark: #282c34;
  --color-light: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}
